<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/supermarket_management_system_db</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">Mataru@8</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    
    <!-- Connection timeout settings -->
    <property name="hibernate.connection.provider_disables_autocommit">false</property>
    <property name="hibernate.connection.autocommit">false</property>
    <mapping class="model.User"/>
    <mapping class="model.UserProfile"/>
    <mapping class="model.Category"/>
    <mapping class="model.Product"/>
    <mapping class="model.Sale"/>
    <mapping class="model.SaleItem"/>
    <mapping class="model.Session"/>
  </session-factory>
</hibernate-configuration>
